
@font-face {
    font-family: 'Roboto', sans-serif;
    src:  url("/images/Aspira-webfont.eot");
    src:  local("Aspira"), url("/images/aspira-webfont.ttf")
    format("truetype");
}   

body {
	background-color:#fff;
	font-family: 'Roboto',Arial,sans-serif;
        font-weight: 300;
	margin:0; padding:0; 
}

.maincontainer {
	width:800px;
	margin:auto; padding:0; 
}

.header {
    width:800px;
    margin:auto;
    margin:0; padding:0; 
}

.footer {
    width:800px;
    margin:auto;
    padding:0; 
    border-top: 1px solid #aaa;
    font-size:11px;
    text-align:center;
}

.main {
    width: 530px;
	font-size:14px;
	margin:0; padding:0; 
	float:left;
}

.main p { padding-top:0px; margin-top:0px; }

.main ul { padding:0px; line-height:1.5em;}
.main ul li { padding-bottom:10px;}
.contactbox {
    width:270px;
    margin:0; padding:0;   
    float:right;  
}

.contact {
    width:230px;
    margin:auto; padding:0;
    font-size:13px;
}

.main a, .contact a, .footer a { color:#380ca8; text-decoration:none; }

.maincontainer h1, .header h1, .main h1 { 
    font-family: 'Roboto', sans-serif;
    font-weight: 400; 
}

.header h1 {
    font-size:50px;
}

.main h1 { 
    font-size:22px; 
}

.maincontainer h2, .header h2, .main h2 { 
    font-family: 'Roboto', sans-serif;
    font-weight: 400; 
}

.header h2 {
    font-size:50px;
}

.main h2 { 
    font-size:18px; 
}


.contact p {
    margin:0; padding-top:3px;
}

.contact img {
    margin:auto; padding:0px;
    width:230px;
}

.social { width:160px; margin:auto; padding-top:20px;}
.social a { color:#000; }
.fb a:hover { color:#3b5998; }
.twit a:hover { color:#00aced; }
.gp a:hover { color:#dd4b39; }
.lin a:hover { color:#007bb6; }
.gh a:hover { color:#3c0; }
